.UiPagination {
    display: flex;
    padding: 15px;
}

.UiPagination span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.UiPagination span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid;
}
.UiPagination span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 40px;
    color: #1976d2;
    border: 1px solid #1976d2;
    border-right: none;
    cursor: pointer;
    transition: all .2s;
}
.UiPagination span:hover,
.UiPagination span.active {
    color: #fff;
    background: #1976d2;
}